DB_HOST=mariadb
DB_ROOT_PASSWD=changeme
SEAFILE_ADMIN_EMAIL=admin@example.com
SEAFILE_ADMIN_PASSWORD=changeme
SEAFILE_SERVER_LETSENCRYPT=false
SEAFILE_SERVER_HOSTNAME=example.com
FORCE_HTTPS_IN_CONF=true